@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
  
    var message2 = ViewBag.Message2; 
}

<h1>All Employees</h1>
<br />
<br />

<form class="m-2">
    <div class="container m-4 ">
        <div class="row">
           
            <div class="col-6">
                <input name="SearchInput" class="form-control" />
            </div>
            <div class="col-6">
                <input type="submit" value="Search" class="btn btn-success" />
            </div>
        </div>
        
    </div>
</form>


@* @if (!string.IsNullOrEmpty(TempData["Message"] as string)) *@
@* { *@
@*     <div class="m-3 alert-info"> *@
@*         <p>@TempData["Message"]</p> *@
@*     </div> *@

@* } *@



@* <div class="m-3 alert-danger"> *@
@*     <p>@ViewData["Message"]</p> *@
@* </div> *@

@* <div class="m-3 alert-success"> *@
@*     <p>@ViewBag.Message2</p> *@
@* </div> *@
@* <div class="m-3 alert-success"> *@
@*     <p>@message2</p> *@
@* </div> *@

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>
<br />
<br />

@if (Model.Count() > 0)
{
    <table class=" table table-hover table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>HiringDate</th>
                <th>CreateAt</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="rounded-circle overflow-hidden" style="width: 85px; height: 85px;">
                            <img src="~/files/images/@item.ImageName" class="img-fluid" alt="" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>

                    </td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Salary</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>@item.HiringDate</td>
                    <td>@item.CreateAt</td>

                    @if (item.Department is not null)
                    {
                        <td>@item.Department.Name </td>
                    }
                     
                    else{
                    <td>No Department</td>
                    }    
                    <partial name="_ButtonPartialView" model="@item.Id.ToString()" />


                </tr>
            }

        </tbody>


    </table>
}
else
{
    <div> There is No Employee </div>
}

@* ----------------- *@

